.your-papers {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.your-papers .card-container {
  flex: 1;
  overflow-y:auto;
  margin: 0.25em 1.25em;
  background: lightgray;
}

.your-papers .card {
  display: block;
  color: black;
  text-align: left;
  padding: 0.75em 1.25em;
  cursor: pointer;
}

.your-papers .card:hover {
  background: rgb(250,250,250);
}

.your-papers .card .card-top {
  color: lightgray;
}

.your-papers .card .card-bottom {
  display: flex;
}

.your-papers .card .card-bottom .card-bottom-item-large {
  flex-grow: 2;
}

.your-papers .card .card-bottom .card-bottom-item-small {
  flex-grow: 1;
}
