@media all and (min-width: 480px) {
  .login {
    height: 100vh;
    padding: 14em 0;
  }

  .login h1 {
    text-align: center;
    padding-bottom: 0.25em;
  }

  .login form {
    margin: 0 auto;
    max-width: 30em;
  }

  .login div {
    margin: 8px auto;
    max-width: 30em;
  }

  .login div span {
    padding-right: 8px;
  }
}
